<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>user write </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>
    <!-- Custom styles for this template -->
    <link href="../css/starter-template.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>

<body>
<!--header-->
<div th:replace="header :: header"></div>
<!--header-->


<div class="container">
    <main>
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72"
                 height="57">
            <h2>회원가입 안내 </h2>
            <p class="lead">하단의 내용을 기입하여 회원가입을 진행해 주십시오. </p>
        </div>

        <div class="row g-5">

            <form  action="/user/writepro" method="post" enctype="multipart/form-data"  class="needs-validation">
<!--            <form class="needs-validation" novalidate="">-->
                <h4 class="mb-3">필수입력사항</h4>
                <div class="row g-3">
                    <div class="col-sm-12">
                        <label for="user_nm" class="form-label">이름 </label>
                        <input type="text" class="form-control" id="user_nm" placeholder="이름을 입력하세요." value="" required="" name="user_nm">
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <label for="user_id" class="form-label">ID </label>
                        <input type="text" class="form-control" id="user_id" placeholder="ID를 입력하세요." value="" required="" name="user_id">
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="pwd" class="form-label">비밀번호 </label>
                        <input type="password" class="form-control" id="pwd" placeholder="비밀번호" value="" required="" name="user_pw">
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="pwdchk" class="form-label">비밀번호 확인 </label>
                        <input type="password" class="form-control" id="pwdchk" placeholder="비밀번호 확인" value=""
                               required="" name="user_pwchk">
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <label for="user_hpn" class="form-label">휴대폰  </label>
                        <input type="number" class="form-control" id="user_hpn" placeholder="'-' 없이 숫자만 입력" value="" required="" name="user_hpn">
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="user_nicknm" class="form-label">닉네임</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">@</span>
                            <input type="text" class="form-control" id="user_nicknm" placeholder="user nickname" required="" name="user_nicknm">
                            <div class="invalid-feedback">
                                Your user ID is required.
                            </div>
                        </div>
                    </div>

                </div>

                <hr class="my-4">
                <h4 class="mb-3">선택입력사항</h4>


                <div class="row gy-3">

                    <div class="col-md-5">
                        <label for="gender" class="form-label">성별 </label>
                        <select class="form-select" id="gender" aria-label="Default select example" name="gender">
                            <option selected>선택</option>
                            <option value="F">여성</option>
                            <option value="M">남성</option>
                            <option value="X">선택안함</option>
                        </select>
                    </div>

                    <div class="col-12">
                        <label for="email" class="form-label">Email </label>
                        <input type="email" class="form-control" id="email" placeholder="you@example.com" name="user_email">
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="address" placeholder="주소를 입력하세요.." required="" name="user_addr">
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>

                </div>

                <hr class="my-4">

                <button class="w-100 btn btn-primary btn-lg" type="submit">회원가입</button>
            </form>
        </div>
    </main>
</div>


<!--footer-->
<div th:replace="footer :: footer"></div>
<!--footer-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>